body {
  background: #fff;
  background-color: #fff;
}

#sdg-slide-template {
	z-index:-999;
	position: fixed;
	right: 15px;
	bottom: 15px;
}

#sdg-slide-template svg {
	z-index:-999;
	display: inline-block;
}

#sdg-slide-template span {
	z-index:-999;
	font-family: 'TradeGothicLTPro-Bd2',sans-serif;
	color: #aaa;
	display: inline-block;
	position: relative;
	bottom: 20px;
}

#sdg-slide-template b {
	z-index:-999;
	font-weight: bold;
	color: #1864b3;
}

.reveal {
  color: #538ca0;
}

.reveal a {
  color: #9ccca0;
}

.reveal p {
  line-height: .8em;
}

.reveal ol, .reveal ul {
	position: relative;
	left: .5em;
	margin: 0;
}

.reveal small {
  vertical-align: baseline;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  line-height: 1;
}

.reveal .controls {
  color: #9ccca0;
}

.reveal pre code {
  padding: 1em;
}

.insignia, hr.hr-insignia {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #9ccca0;
    color: #9ccca0;
    text-align: center;
    margin: 60px 60px 30px;
    line-height: 0;
}

.insignia:after, hr.hr-insignia:after {
    content: "\003C\t\003E";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: .5em;
    line-height: 1.3em;
    background: white;
}

hr.hr-insignia--short {
  margin: 45px 60px 15px;
}

.insignia.insignia--large:after {
  display:block;
  top: auto;
  font-size: 7em;
  color: #538ca0;
}

.insignia.insignia--start:after {
  content: "\003C\t\003E";
  font-weight: bold;
}

.insignia.insignia--end:after {
  content: "\003C/\t\003E";
  font-weight: bold;
}

.g-trends iframe {
  height: 35%;
  min-height: 350px;
  max-width: 600px;
}

.reveal p.vertical-spacing {
  margin: 2.2em 0 3em;
}

.resources-list li {
	font-size: .5em;
}

ul li {
  list-style: none;
}

.reveal p.short {
  margin: 5px 0 0;
}
